<div class="container" style="width: 30rem;">
  <div class="cardheader text-center mb-3">
    <h2 class= "fa-solid" style="background-color: primary">Sign up</h2>
  </div>
  <div class="card-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
      <p class= "mb-2"> Fist name </p>
      <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "First Name" }%>
      <p class= "mb-2"> Last name </p>
      <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "Last Name" }%>
      <p class= "mb-2"> Address </p>
      <%= f.input :address,
                      required: true,
                      autofocus: true,
                      label: false,
                      input_html: { autocomplete: "address" }%>
      <p class= "mb-2"> Email </p>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "email" }%>
        <p class= "mb-2"> Phone number </p>
        <%= f.input :phone_number,
                    required: true,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "Phone Number" }%>
        <p class= "mb-2"> Password </p>
        <%= f.input :password,
                    required: true,
                    label: false,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <p class= "mb-2"> Password confirmation </p>
        <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div type="submit" class="form-actions btn btn-primary rounded-pill" style="text-align-center" >
        <%= f.button :submit, "Sign up" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
