<div class="container">
  <div class="title-chef">
    <h1>Choose a chef</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row d-flex">
    <% @cheffs.each do |chef| %>
    <div class="col-md-3 mb-4">
      <%= link_to chef_path(chef), class: "card card-item d-flex align-item-center justify-content-between flex-column" do %>
        <div class="profile-picture">
          <%= image_tag(url_for(chef.user.profile_picture)) %>
        </div>
        <div class="chefs-texts">
          <h4><%= chef.user.first_name %> <%= chef.user.last_name %></h4>
          <p class="specialties">
            <%= JSON.parse(chef.specialties).join(', ') %>
          </p>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
