<% if @chef_status == true %>
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-11 bg-primary mt-5" style="height: 630px; border-radius: 20px">
    <h2 class="m-4 text-white">My Reservations</h2>
      <div class="d-flex flex-grow bg-white m-3 align-items-center justify-content-between fs-3 p-4" style="height: 100px; border-radius: 20px">
        <p>Reservations Requests : <%= current_user.bookings.count %> requests pending.</p>
        <a class="btn btn-primary text-white" style="border-radius: 20px" href="#"> See Pending Requests </a>
      </div>
      <div class="d-flex flex-row justify-content-between m-2" style="height: 100%">
        <div class="bg-white mx-2" style="height: 65%; width: 50%; border-radius: 20px">
          <h2 class="pt-4 px-4">Last Reservation:</h2>
            <div class="col-11 bg-primary mx-4" style="height: 275px; border-radius: 20px">
              <% unless @last_booking == nil %>
                <p><%= @last_booking.start_date %></p>
                <p><%= @last_booking.end_date %></p>
                <p><%= @last_booking.status %></p>
              <% else %>
                <p>You have made no reservations yet.</p>
              <% end %>
            </div>
            <div class="d-flex justify-content-end">
              <a class="btn btn-primary mt-2 mx-4 text-white" style="width: 30%; border-radius: 20px" href="#"> See Full History </a>
            </div>
        </div>
        <div class="bg-white mx-2" style="height: 65%; width: 50%; border-radius: 20px">
          <h2 class="pt-4 px-4">Next Reservation:</h2>
          <div class="col-11 bg-primary mx-4" style="height: 275px; border-radius: 20px">

          </div>
          <div class="d-flex justify-content-end">
            <a class="btn btn-primary mt-2 mx-4 text-white" style="width: 45%; border-radius: 20px" href="#"> See All Upcoming Reservation </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-11 bg-primary mt-5" style="height: 630px; border-radius: 20px">
    <h2 class="m-4">My Reservations</h2>
                <p><% current_user.chef_status %></p>
      <div class="d-flex flex-grow bg-success m-3 align-items-center fs-3 p-4" style="height: 100px; border-radius: 20px">
        <p>Reservations Requests : <%= current_user.bookings.count %> requests pending.</p>
      </div>
      <div class="d-flex flex-row justify-content-between m-2" style="height: 100%">
        <div class="bg-success mx-2" style="height: 65%; width: 50%; border-radius: 20px">
        <p>This user is a chef <%= @chef_status %></p>
        </div>
        <div class="bg-success mx-2" style="height: 65%; width: 50%; border-radius: 20px"></div>
      </div>
    </div>
  </div>
<% end %>
